@model  IEnumerable<Zerohungy.DTO.Food_CollectDTO>

@{
    ViewBag.Title = "Employee";
    ViewBag.Name = Session["name"];
}


<h2>@ViewBag.Name</h2>
<form method="post" action="@Url.Action("Logout","Employee")">
    <input type="submit" name="Logout" value="Logout" class="btn btn-outline-dark" />
</form>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.REST_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LOCATION)
        </th>
        <th>
            Option
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelitem => item.REST_ID)
            </td>
            <td>
                @Html.DisplayFor(modelitem => item.LOCATION)
            </td>
            <td>
                <form method="post" action="">
                    <input type="hidden" name="Name" value=@ViewBag.Name/>
                    <input type="hidden" name="id" value="@item.C_ID" />
                    <input type="submit" name="collect" value="Mark Collected" class="btn btn-outline-success" />
                </form>
            </td>
        </tr>

    }
</table>
